*{
    margin:0px;padding:0px;
}
html,body{
    width:100vw;height: 100vh;
    background: #303540;
    font-family: arial;
}

pre{
    overflow: hidden;
    margin: 8px;
    border-radius: 10px;
}

code {
    overflow: auto;
}

pre,code{
    width: calc(100vw - 16px);
    height: calc(90vh - 50px);
}
.remoteInfo{
    color:#abb2bf;
    line-height: 28px;
    height: 28px;
    background-color: #1b1e25;
    font-size: 11pt;
}

.remoteInfo .datetime{
    float:left;
    margin-right: 10px;
    padding: 0 6px;
}

.remoteInfo .ua{
    float: right;
    max-width: calc(100vw - 120px);
    overflow: hidden;
    white-space: nowrap;
    padding: 0 6px;
}

.remoteInfo .relayToConsole{
    float: right;
    margin: 6px;
}

.controlpanel {
    display: flex !important;
    height: 10vh;
    color:#98c379;
}

.controlpanel fieldset{
    flex:1;
    margin: 5px;
    padding: 5px;
}

.controlpanel legend{
    color:#56b6c2;
}

.controlpanel fieldset button {
    padding: 3px;
}